/* SPDX-License-Identifier: Apache-2.0 */
/dts-v1/;

#include <mem.h>
#include <arm/armv8-m.dtsi>
#include <zephyr/dt-bindings/adc/adc.h>


/ {
    chosen {
        zephyr,flash-controller = &flash;
        zephyr,sram = &sram0;
        zephyr,itcm = &itcm0;
        zephyr,dtcm = &dtcm0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
        zephyr,console = &uart0;
    };

    cpus {
        #address-cells = <1>;
        #size-cells = <0>;

        cpu@0 {
            device_type = "cpu";
            compatible = "arm,cortex-m33";
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <1>;
            clock-frequency = <300000000>;
            mpu: mpu@e000ed90 {
                compatible = "arm,armv8m-mpu";
                reg = <0xe000ed90 0x40>;
            };
        };
    };

    sram0: memory@80000 {
        compatible = "mmio-sram";
        reg = <0x00080000 (320*1024)>;
    };

    itcm0: code@10000 {
        compatible = "zephyr,memory-region";
        reg = <0x00010000 (16*1024)>;
        zephyr,memory-region = "ITCM";
    };

    dtcm0: code@20000000 {
        compatible = "zephyr,memory-region";
        reg = <0x20000000 (16*1024)>;
        zephyr,memory-region = "DTCM";
    };

    soc {

        flash: flash-controller@46400000 {
            compatible = "listenai,csk-flash-controller";
            reg = <0x46400000 DT_SIZE_M(1)>;
            #address-cells = <1>;
            #size-cells = <1>;

            flash0: flash@18000000 {
                compatible = "listenai,csk-nv-flash","soc-nv-flash";
                reg = <0x18000000 DT_SIZE_M(8)>;
                write-block-size = <1>;
                erase-block-size = <4096>;
            };
        };

        uart0: uart@45000000 {
            compatible = "ns16550";
            reg = <0x45000000 0x100000>;
            interrupts = <8 2>;
            interrupt-parent = <&nvic>;
            reg-shift = <2>;
            clock-frequency = <24000000>;
            current-speed = <115200>;
        };

        uart1: uart@45100000 {
            compatible = "ns16550";
            reg = <0x45100000 0x100000>;
            interrupts = <9 2>;
            interrupt-parent = <&nvic>;
            reg-shift = <2>;
        };

        uart2: uart@45200000 {
            compatible = "ns16550";
            reg = <0x45200000 0x100000>;
            interrupts = <10 2>;
            interrupt-parent = <&nvic>;
            reg-shift = <2>;
        };

        pinmuxa: pinmux@46200000 {
            compatible = "listenai,csk-pinmux";
            reg = <0x46200000 0x80>;
            #pinmux-cells = <2>;
            #pinctrl-cells = <2>;
            status = "okay";
        };

        pinmuxb: pinmux@46200080 {
            compatible = "listenai,csk-pinmux";
            reg = <0x46200080 0xc0>;
            #pinmux-cells = <2>;
            #pinctrl-cells = <2>;
            status = "okay";
        };

        gpioa: gpio@45900000 {
            compatible = "listenai,csk-gpio";
            reg = <0x45900000 0x100000>;
            interrupts = <17 2>;
            gpio-controller;
            #gpio-cells = <2>;
        };

        gpiob: gpio@45a00000 {
            compatible = "listenai,csk-gpio";
            reg = <0x45a00000 0x100000>;
            interrupts = <18 2>;
            gpio-controller;
            #gpio-cells = <2>;
        };
    };
};

&nvic {
    arm,num-irq-priority-bits = <5>;
};

&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        /* 256KB for bootloader */
        boot_partition: partition@0 {
            reg = <0x0 0x40000>;
            read-only;
        };

        /* application image slot: 512KB */
        slot0_partition: partition@40000 {
            reg = <0x40000 0x80000>;
        };

        /* backup slot: 512KB */
        slot1_partition: partition@c0000 {
            reg = <0xc0000 0x80000>;
        };

        /* swap slot: 128KB */
        scratch_partition: partition@140000 {
            reg = <0x140000 0x20000>;
        };

        /* wifi_nvs_storage: 20Kb */
        wifi_nvs_storage: partition@160000 {
            reg = <0x160000 0x5000>;
        };

        /* storage: 6.625MB for storage */
        storage_partition: partition@165000 {
            reg = <0x165000 0x6a0000>;
        };
    };
};

&uart0 {
    status = "okay";
};